/*---------------CAROUSSEL-VIDEOS---------------*/
.menu-topo{background-color: #428bca;color: #fff; margin-bottom: 0 !important;}
.btn-entrar {color: #fff!important;background: #428bca;border: 1px solid #fff!important;margin-right: 5px;}
.btn-entrar:hover{}
.btn-cadastra {color: #333!important; background-color: #fff; margin-right: 5px;}
.btn-icones {margin-right: 8px;}
.btn-icones a{color: #fff;font-size: 23px;}
.home-caroussel-1 {max-height: 500px;}
.home-first-slide {}
.home-first-slide img{}
.funciona {height: 568px !important;}
.home-caroussel-2 {padding: 60px;margin: auto;justify-content: center;display: grid;}
.home-group-cursos {}
.home-cursos {width: 700px!important;height: 500px;}
.home-caroussel-3 {padding: 60px;}
.home-destasques {padding: 60px;}
.home-cast {padding: 60px; height: 450px;}
.thumb-cast{width: 300px!important; height: 200px;}
.home-videos {padding: 60px;background-color: #eee;}
.home-videos-other {width: 100%;}
.home-videos {width: 100%;}
.home-videos-grid {height: 60vh;}
.home-main-video {padding: 22px;height: 60vh;}
.home-main-video #mainVideo{width: 100%;height: auto;max-height: 500px;}
.home-other-video {height: 60vh;padding: 20px;}
.home-videos-thumbs img {height: 25vh;width: 20vw;}
.home-videos-thumbs {height: 27vh;}
.home-form {background-color: #eee;padding: 60px;}
.hr-footer {border-top: 2px solid #5f5f5f;}
.logo-footer {justify-content: center;margin: auto;padding: 30px;width: auto;}
.bg-footer {background-color: #333;color: #fff;padding-top: 20px;}
.hide-bullets {list-style:none;}
.thumbnail {padding: 0;}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {width: 100%;}
.gallery{display: inline-block;margin-top: 20px;}
.home-caroussel-4{margin: auto;justify-content: center;display: grid;}
.carousel-control-next-icon {width: 50px!important;height: 50px!important;}
.carousel-control-prev-icon {width: 50px!important;height: 50px!important;}
.carousel-indicators .active {background-color: #428bca!important;border: none;}
.carousel-indicators li {background-color: #eee!important;border: none!important; margin-left: 5px!important; margin-right: 5px!important;}
.home-formulario {}
.pull-right a{color: #fff;}
.pull-right a:hover{color: #fff;}
.red{color:red;}
.form-area{background-color: #eee;padding: 10px 40px 60px;border: 1px solid GREY;margin-top: 6vh;margin-bottom: 20vh;max-height: 100%;border-radius: 6px;}
.cadastro-bg {height: 80vh;background: url(../images/img-home/cadastro-bg.jpg) no-repeat center;background-color: #050507;}
.cadastro-form{display: flex;justify-content: center;align-items: center;}
.cadastro-logo {justify-content: center;margin: auto;display: flex;padding-top: 10vh;}
.form-control {height: 3.25rem!important;}
.btn-main {background-color: #428bca;color: #Fff;padding: 1rem 3rem!important;border-radius: 4px!important;font-size: 1.5rem!important;}
.btn-second {background-color: #eeeeee;color: #333;padding: 1rem 3rem!important;border-radius: 4px!important;font-size: 1.5rem!important;}
.divider {border: 1px solid #ccc;}
img {width:100%;}
.swiper-container {width: 100%;height: 100%;}
.swiper-slide {text-align: center;font-size: 18px;background: #fff;/* Center slide text vertically */display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}